@font-face {
    font-family: 'Cine';
    src: url("/resources/fonts/Oswald-Bold.ttf");
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Cine', sans-serif;
    background-color: #e8f0fe;
}
article{
    background-color: #ffffff;
    width: 320px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    text-align: center;
}
article:hover {
    background-color: #ddeeff;
}
img{
    width: 100%;
    border-radius: 8px;
}
h2 {
    color: #2e3d59;
}
p{
    color: #555;
}
header{
    background-color: #555;
    color: #e8f0fe;
    padding: 30px;
    text-align: center;
    margin: 0%;
    width: 100%;
}
